* {
    color: antiquewhite;
}

html{
    scroll-behavior: smooth;
}
body {
    background-color: #606c38;
    height: 100%;
}



h1{
    font-size: 400%;
    text-align: center;
}

h2{
    font-size: 250%;
    text-align: center;
}

h3{
    font-size: 125%;
    text-align: center;
    border-top-style: solid;
    border-width: 2px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bb9457;
    height: 105px;
    width: 100%;
    border-bottom-style: solid;
    border-width: 2px;
}

header h1 {
    font-size: 300%;
    font-weight: bold;
}

nav {
    padding-right: 75px;
}

nav a {
    padding-left: 10px;
    font-size: 115%;
    font-weight: bold;
    
}

.banner {
    border-bottom-style: solid;
    border-width: 2px;
    height: 525px;
    width: 100%;
    background-image: url("./images/newbanner.jpg");
    background-size: cover;
    background-position: center;
}

.about-me {
    padding-top: 10px;
    width: 100%;
    background-color: #7f4f24;
    text-align: center;
}

.bio {
    padding-top: 5px;
    display: flex;
    border-bottom-style:solid ;
    border-width: 2px;
}

.bio p {
    font-size: 24px;
    text-align: left;
    margin: 60px;
    
}

.bio img {
    margin: 30px;
    height: 300px;
    width: 300px;
    border-radius: 12px;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.work {
    border-right-style: solid;
    border-width: 2px;
    background-color: #283618;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
}

.work h2 {
    transform: rotate(-90deg);
}

.work-card {
   
    flex-wrap: wrap;
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    justify-content: center;
    padding-left: 150px;
    padding-right: 175px;
}

.big-link{
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
}

.link{
    height: 380px;
    margin-left: 9px;
    width: 93%;   
}

.big-link img{
    text-align: center;
    height: 100%;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
     
    
}

.links{
    border-style: solid;
    border-width: 1px;
    width: 45%;
    border-radius: 12px;
    margin: 5px;
    
}

.small-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    
}

.small-links img {
    background-image: url(./images/bannerphoto.jpg.jpg);
    
    width: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
section h3 {
    background-color: rgb(104, 64, 19);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.contact-list {
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 2px;
    height: 155px;
    text-align: center;
    background-color: #7f4f24;
} 
.contact-list ul {
    /* display: none; */
}

.contact-list:hover ul {
    display: block;
}


.contact-list ul li {
    display: inline;
    padding-right: 7.5px;
    padding-left: 7.5px;
    text-decoration: underline;
}

.resume-info{
    font-size: 115%;
    background-color: #bb9457;
    text-align: justify;
    padding: 25px;
}

.resume-info p{
 
}

.resume-info:focus-visible p {
    display: contents;
}

.resume-info h2{
    text-align: center;
    padding-bottom: 10px;
}

.resume-info ul {
    text-align: center;
}

.resume-info li{
    padding-left: 20px;
    text-align: center;
    display: inline;
    text-decoration: underline;
}


@media screen and (max-width: 992px) {
    main,
    header {
        flex-direction: column;
    }
    .work {
        justify-content: center;
        height: 225px; 
        width: 100%;       
    }
    .work h2{
        transform: rotate(720deg);
    }
}

@media screen and (max-width: 768px){
    .link{
        width: 100%;
    }

    .work-card{
        width: 100%;
    }
    .small-links{
        display: block;
        width: 100%;
    }
    .links{
        width: 100%;
    }
    
}