/* * {
    border: 1px solid red;
    margin: 5px;
} */
body {
    background-color: #606c38;
    height: 100%;
}

h1{
    font-size: 200%;
}

h2{
    font-size: 175%;
}

h3{
    font-size: 125%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bb9457;
    height: 75px;
    width: 100%;
}

header h1 {
    font-size: 200%;
    font-weight: bold;
}

nav a {
    font-weight: bold;
    color: black;
}

.banner {
    height: 525px;
    width: 100%;
    background-image: url("../assest/images/bannerphoto.jpg.jpg");
    background-size: cover;
    background-position: bottom;
}

.about-me {
    width: 100%;
    background-color: #7f4f24;
    text-align: center;
}

.bio {
    display: flex;
}

.bio img {
    margin: 30px;
    height: 250px;
    width: 250x;
    border-radius: 12px;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.work {
    background-color: #283618;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 5%;
}

.link{
    border-style: solid;
    border-width: 1px;
    width: 32%;
    border-radius: 12px;
    margin: 5px;
    
}

.work h2 {
    transform: rotate(-90deg);
}

.work-card {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 0;
  padding: 10px;
  text-align: center;
  justify-content: center;
}
.work-card img {
    height: 200px;
    width: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
section h3 {
    background-color: rgb(104, 64, 19);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.contact-list {
    height: 75px;
    text-align: center;
    background-color: #7f4f24;
} 


.contact-list ul li {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
}

.resume-info{
    font-size: 115%;
    background-color: #bb9457;
    text-align: justify;
    padding: 25px;
}
.resume-info h2{
    text-align: center;
}

.resume-info p{
    padding-bottom: 20px;
}
